.navBar1{
    display: block;
    position: relative;
    
    height: 65px;
    
    
}
#logo{
    height: 30px;
    width: 92px;
    
    border: 0;
    padding: 5px 30px 0px 20px;
    position: absolute;
    top: 15px;

    
}



/* ---------search bar----------------*/

.searchContainer {
    position: absolute;
    top: 10px;
    left: 140px;
    display: flex;
    width: 550px;
    height: 37px;
    padding: 5px 20px;
    
    border: 1px solid lightgray;
    border-radius: 25px;
   
    font-size: 16px;
    font-family: sans-serif;

    align-items: center;
    justify-content: space-around;
    

 }
 .searchContainer:hover{
    box-shadow: 0 0 5px 1px #bdbdbd
 }

 .searchBox{
     height: 100%;
     border: 0;
     font-size: 16px;
     flex: 1;
     padding: 7px 7px;
     border-right: 1px solid #bdbdbd;
     
     
     
 }
 .searchIcon{
    margin: auto 10px;
    color: rgb(14, 14, 206);
 }
 .voiceIcon{
     margin: auto 20px;
     color: rgb(14, 14, 206);

 }
 .rnav{
     float: right;
     margin-right: 10px;
     margin-top: 10px;
 }
 .rnav a{
    display: inline-block;
    margin-left: 15px;
    padding-top: 8px;
    font-size: 13px;
    font-family: Arial, sans-serif;

    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
.rnav a:hover{
    text-decoration: underline;
    opacity: 0.85;
}
.rnav button{
   color: #ffffff;
   width: 70px;
   height: 30px;
   padding: 0 10px;
   background-color: #4387fd;
   border: 1px solid ;
   border-radius: 3px;
   font-weight: bold;
}

.navBar2{
    display: block;
    padding-left: 150px;
    margin-top: 10px;
    width: 550px;
    height: 40px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.navBar2 a{
    text-decoration: none;
    color: #5f6368;
    margin-right: 10px;
}
.navBar2 a:hover{
    color: #1A0DAB; 
}
.navBar2 i{
    margin: 5px;
}
#more{
    margin-left: 20px;
}
.navBar2 .right{
    float: right;
    margin: 3px;
}

/*=======main-----------*/

.results{
    display: block;
    height: 30px;
    padding-left: 150px;
    padding-top: 15px;
    border-top: 1px solid #e4e4e4;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #5f6368;
}


/*--------------site--------------*/
.site{
    display: block;
    padding-left: 150px;
    margin: 30px 0px;
    width: 600px;
    height: auto;


}
.site .link{
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;

}

.site h3{
    color: #1A0DAB;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin: 5px 0px;

}
.site a{
    text-decoration: none;
}
.site a:hover{
    text-decoration: underline;

}
.ad a:active{
    color: #660099;;
}

 .article{
    color: #3c4043 ;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

/*-------------questions box-------------*/
.ask{
    display: block;
    position: relative;
    left: 150px;
    margin: 30px 0px;
    width: 652px;
    line-height: 36px;
    border: 1px solid #dfe1e5;
    border-radius: 8px ;

}
.ask .title{
    font-size: 20px;
    color: #222222;
    font-family: Arial, sans-serif;
    padding: 8px 15px;
   
    
}
.ask .q{
    font-size: 16px;
    color: #222222;
    font-family: Arial, sans-serif;
    padding: 8px 15px;
    border-top: 1px solid #dfe1e5;  
    
}

/*------related searches------------*/

.related{
    display: block;
    position: relative;
    left: 150px;
    margin: 30px 0px;
    border: 0;

}
.related h3{
    color: #222222;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    
}

.related .col{
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    width: auto;
    margin-right: 20px;
    margin-top: 20px;

}
.related a{
    display: block;
    text-decoration: none;
    color: #1a0dab !important;
}
.related a:hover{
    text-decoration: underline;
}
.related a:visited{
   color: #609;
}

/*--------google pages------------*/

.gglpages{
    display: block;
    position: relative;
    left: 330px;
    margin-bottom: 30px;

}
.gglpages .links{
    display: block;
    position: absolute;
    left: 52px;
    font-size: 14px;
    font-family: Arial, sans-serif;

}
.links a{
    color: #1a0dab;
    text-decoration: none;
    margin-right: 8px;
    
}
.links a:hover{
    text-decoration: underline;
}
.links a:active{
    color: #660099;
}

#next{
    margin-left: 50px;
}

/*-----------footer navbar------------*/

.ftrNav{
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    line-height: 30px;
    padding-left: 150px;
    color: #5f6368;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    font-family: Arial, sans-serif;

}
#country{
    display: inline-block;
    font-size: 15px;
    margin: auto 10px;
    
}

.ftrNav .navUp{
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #e4e4e4;
    line-height: 40px;
}
.ftrNav a{
    color: #5f6368;
    text-decoration: none;
    margin: auto 2px;

}
.ftrNav a:hover{
    color: #3c4043;
}
.ftrNav strong{
    color: #333;
}
.ftrNav .navDown{
    display: block;
    border-top: 1px solid #e4e4e4;
    margin: auto 10px;
    line-height: 40px;
}
.navDown a{
    margin-right: 20px;
}